*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("bg-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    grid-template-areas: 'header blank' 'mockup article' 'footer footer';
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 20vh 70vh 10vh;
}
header{
    grid-area: header;
    margin-top: 20px;
    text-align: left;
}
header img{
    height: 50%;
    width: 50%;
    overflow: hidden;

}
section{
    grid-area: mockup;
    width: auto;
    text-align: center;
}
.mockup{
    width: 60vw;
    height: 70vh;
    object-fit: contain;
}
article{
    grid-area: article;
    display: flex;
    height: 70vh;
    width: 87%;
    flex-direction: column;
    justify-content: flex-start;    
}
.icons{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 50px;
    margin-bottom: 30px;
}
h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
}
#line1{
    margin-top: 30px;
}
p{
    font-family: open sans;
    font-weight: 400;
    margin-top: 25px;
    padding-right: 20px;
}
button{
    color: hsl(257, 40%, 49%);
    background-color: white;
    width: 120px;
    height: 35px;
    border: solid 1px white;
    border-radius: 20px;
    font-family: open sans;
    box-shadow: 2px 2px 10px hsl(257, 41%, 38%);
    margin-top: 20px;
}
button:hover{
    color: white;
    background-color: hsl(300, 69%, 71%);
    border: solid 1px hsl(300, 69%, 71%);
}
i{
    padding: 5px;
    border: solid 1px white;
    border-radius: 100%;
    margin: 7px;
    /* margin-bottom: 10px; */
}
i:hover{
    color: hsl(300, 69%, 71%);
    border: solid 1px hsl(300, 69%, 71%);
}
#fb-icon{
    padding-left: 8px;
    padding-right: 8px;
}

@media screen and (max-width: 375px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-color: hsl(257, 40%, 49%);
        background-image: url("bg-mobile.svg");
        background-size: contain;
        background-repeat: no-repeat;
        color: white;
        display: grid;
        grid-template-areas: 'header blank' 'mockup mockup' 'article article' 'footer footer';
        grid-template-columns: 187px 187px;
        grid-template-rows: 13vh 32vh 40vh 15vh;
        justify-content: center;

    }
    h1{
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }
    #line1{
        margin-top: 0px;
    }
    header{
        grid-area: header;
        /* margin-top: 20px; */
        margin-left: 30px;
        text-align: left;
    }
    header img{
        height: 75%;
        width: 75%;
        overflow: hidden;
    }
    section{
        grid-area: mockup;
        text-align: center;
    }
    .mockup{
        width: 80vw;
        height: 30vh;
        object-fit: contain;
    }
    article{
        grid-area: article;
        display: flex;
        width: 100vw;
        height: 40vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    p{
        padding-right: 0px;
        margin-left: 35px;
        margin-right: 35px;
    }
    button{
        color: hsl(257, 40%, 49%);
        background-color: white;
        width: 170px;
        height: 35px;
        border: solid 1px white;
        border-radius: 20px;
        font-family: open sans;
        box-shadow: 2px 2px 10px hsl(257, 41%, 38%);
        margin-top: 20px;
    }
    .icons{
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        margin-bottom: 0px; 
    }
}